<?xml version="1.0"?>
<config>
    <modules>
        <ASV_TestMI2>
            <version>0.1.0</version>
        </ASV_TestMI2>
    </modules>
    <frontend>
        <routers>
            <testmi2>
                <use>standard</use>
                <args>
                    <module>ASV_TestMI2</module>
                    <frontName>testmi2</frontName>
                </args>
            </testmi2>
        </routers>
        <layout>
            <updates>
                <testmi2>
                    <file>testmi2.xml</file>
                </testmi2>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <testmi2>
                <class>ASV_TestMI2_Helper</class>
            </testmi2>
        </helpers>
        <blocks>
            <testmi2>
                <class>ASV_TestMI2_Block</class>
            </testmi2>
        </blocks>
    </global>
</config> 